<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise 1</title>
</head>
<body>
    <div class="title">
        <p>Bug Riscontrati</p>
    </div>
    <div class="text">
        <ul>
            <li>Al restringimento della pagina gli item "voice x" non si adattano al contenuto ed escono fuori dal contenitore (div) </li>
            <li>I sottomenù a scomparsa "voice x-y" non rimangono visibili dopo l'hover sul menù corrispondente
              rendendo per tanto impossibile un eventuale click degli stessi</li>
        </ul>
    </div>
</body>
</html>