<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise_5</title>
    <link href="css/ex2.css" rel="stylesheet" />
    <title>Exercise 2</title>
</head>
<body>
    <div id="box" onmouseover="hide()" onmouseout="show()">
        <div class="content">
            
        </div>
        <div class="corner top left"></div>
        <div class="corner top right"></div>
        <div class="corner bottom left"></div>
        <div class="corner bottom right"></div>
        
    </div>
    <script src="scripts/ex2.js"></script>
</body>
</html>