<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        
    </script>
    <link href="css/ex3.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    
    <div id="box">
        <div class="corner top left"></div>
        <div class="corner top right"></div>
        <div class="corner bottom left"></div>
        <div class="corner bottom right"></div>

        <div class="specialDiv">
            <div class="specialNotChildren" data-specialvalue="69"></div>
            <div class="specialChildren" data-specialvalue="79">
                <img src="/img/skylabs.jpg"/>
            </div>

            
        </div>



        <div class="specialDiv">
            <div class="specialNotChildren" data-specialvalue="49"></div>
            <div class="specialChildren active" data-specialvalue="39">
                <img src="/img/skylabs.jpg"/>
            </div>

            
        </div>
    </div>
    <script src="scripts/ex3.js"></script>
</body>
</html>
