body{
    margin: 0;
    
    
}

#logo_img{
    float: left;
    padding-top: 1vh;
    padding-left: 2vw;
    padding-right: 2vw;
    width: 13vw;
}

.header > th{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
}
.header > td{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
}


#nav{
    color: aliceblue;
    display: inline-block;
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    
    height: 6vh;
}
#nav ul {
    list-style: none; /* elimino i punti elenco */
    margin: 0px 0px 0px 0px; /* elimino i rientri delle liste */
    padding: 1vw 1vw 1vw 1vw; /* elimino i rientri delle liste */
    
    
    
}


#footer{
    background-color: #303030;
    color: aliceblue;
    width: 100vw;
    min-height: 40vh;
    
}

.footer_img{
    
    height: 5vh;
    cursor: pointer;
}

.fooitem{
    width: 20vw;
    text-align: center;
}

#foosocial{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    text-align: center;
}



#nav li {
    display: inline; /* mette gli elementi della lista in linea */
    padding: 1vh 1vw 0px 3vw;
    margin: 0px 1vw 0px 1vw;
    
}
#nav li:hover{
    cursor: pointer;
}

#cart_img{
    
    float: right;
    width: 3vw;
    padding-top: 1vh;
    padding-right: 2vw;
}
#cart_img:hover{
    cursor: pointer;
}
.tit_container{
    background-color: #2868F8;
    padding-bottom: 2vh;
    height: 3vw;
    width: 100vw;
    border-bottom: 0.5vh solid #303030;
    border-top: 0.5vh solid #172b68;
}

#content_table{
    width: 100vw;
    
}

.view_img{
    width: 15vw;
}

.patch_v{
    width: 3vw;
}

.patch{
    position: absolute;
    z-index: 1;
    width: 2vw;
}
.ext{
    top: 30.8vw;
}

.int{
    top: 24.8vw;
}

.left{
    left: 6.8vw;
}

.right{
    left: 21.5vw;
}

.patch_butt{
    border-radius: 10px;
    min-height: 3vw;
    min-width: 3vw;
    font-size: 2vw;
    cursor: pointer;
}

.cart_butt{
    float: right;
    margin-right: 2vw;
    font-size: 3vw;
    border-radius: 10px;   
    cursor: pointer;
}
