body{
    margin: 0;
    min-width: 1800px;
    min-height: 1080px;
}

#logo_img{
    float: left;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.header > th{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}
.header > td{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}


#nav{
    color: aliceblue;
    display: inline-block;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    
    height: 60px;
}
#nav ul {
    list-style: none; /* elimino i punti elenco */
    margin: 0px 0px 0px 0px; /* elimino i rientri delle liste */
    padding: 20px 20px 20px 20px; /* elimino i rientri delle liste */
    
    
    
}


#footer{
    background-color: #303030;
    color: aliceblue;
    min-height: 300px;
}

.footer_img{
    
    height: 70px;
    cursor: pointer;
}

.fooitem{
    width: 300px;
    text-align: center;
}

#foosocial{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
}



#nav li {
    display: inline; /* mette gli elementi della lista in linea */
    padding: 2px 5px 0px 15px;
    margin: 0px 5px 0px 5px;
    
}
#nav li:hover{
    cursor: pointer;
}

#cart_img{
    
    float: right;
    width: 60px;
    padding-top: 10px;
    padding-right: 20px;
}
#cart_img:hover{
    cursor: pointer;
}
.tit_container{
    background-color: #2868F8;
    padding-bottom: 20px;
    height: auto;
    width: 100%;
    border-bottom: 5px solid #303030;
    border-top: 5px solid #172b68;
}

#content_table{
    width: 100vw;
    min-width: 1800px;
}

.view_img{
    width: 250px;
}

.patch_v{
    width: 67px;
}

.patch{
    position: absolute;
    z-index: 1;
    width: 35px;
}
.ext{
    top: 760px;
}

.int{
    top: 507px
}

.left{
    left: 110px;
}

.right{
    left: 410px;
}

.patch_butt{
    border-radius: 10px;
    min-height: 60px;
    min-width: 60px;
    font-size: 25px;
    cursor: pointer;
}

.cart_butt{
    float: right;
    margin-right: 30px;
    font-size: 60px;
    border-radius: 10px;   
    cursor: pointer;
}
